*{
    margin: 0px;
    padding: 0px;
}

.pglogin{
    height: 600px;
    width: 900px;
    background-color: rgb(226, 205, 255);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(102, 6, 255, 0.363);
}

.flex{
    display: flex;
}

.center{
    justify-content: center;
    align-items: center;
}

.container{
    height: 100vh;
}

.color{
    background-color: rgba(68, 0, 255, 0.075);
}

.quadrado_bv{
    height: 100%;
    width: 35%;
    background-color: rgba(137, 43, 226, 0.521);
    border-radius: 20px 0px 0px 20px;
}

.font{
    font-family: Impact, fantasy;
    color: black;
}

.column{
    flex-direction: column;
}

.button{
    background-color: rgb(226, 205, 255);
    height: 40px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(102, 6, 255, 0.363);
    font-size: x-large;
}

.quadrado_vb{
    height: 100%;
    width: 65%;
    background-color: rgb(226, 205, 255);
    border-radius: 0px 20px 20px 0px;
}
.space{
    justify-content: space-between;
}

.input{
    height: 40px;
    width: 300px;
    background-color: rgba(102, 6, 255, 0.363);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(102, 6, 255, 0.363);
    font-size: x-large;
    font-family: Impact, fantasy;
    color: black;
}

.buttonII{
    background-color: rgba(102, 6, 255, 0.363);
    height: 40px;
    width: 300px;
    border-radius: 10px;
    font-size: x-large;
    box-shadow: 5px 5px 5px rgba(102, 6, 255, 0.363);
}

