body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
}


.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
}


.box {
    width: 60%;
    background-color: #2C73D2;
    padding: 30px;
    border-radius: 20px;
    color: white;
    max-height: 80vh;
    overflow-y: auto;
    border-color: #26A69A;
    border: #26A69A;
}

.titulo {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    font-family: "Lucida Handwriting";
    color: #333333;
}


.livro {
    background-color: #26A69A;
    color: #333333;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.livro h3 {
    margin: 0 0 10px 0;
    font-family: "Lucida Handwriting";
    color: #2C73D2;
}


.btn {
    width: 100%;
    background-color: #26A69A;
    border: none;
    padding: 12px;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

 .blue{
    background-color: #2C73D2;
 }