body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    font-family: Courier, monospace;
}


.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
}


.box {
    width: 40%;
    background-color: #2C73D2;
    padding: 30px;
    border-radius: 10px 10px 10px 10px;
    color: white;
    max-height: 80vh;
    overflow-y: auto;
    border-color: #26A69A;
    border: #26A69A;
}

.titulo {
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
    font-family: Courier, monospace;
    color: #333333;
}


.livro {
    background-color: #26A69A;
    color: #333333;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.livro h3 {
    margin: 0 0 10px 0;
    font-family: "Lucida Handwriting";
    color: #2C73D2;
}


.btn {
    width: 100%;
    background-color: #26A69A;
    border: none;
    padding: 12px;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.box::-webkit-scrollbar {
    width: 12px;
    border-radius: 0px 20px 20px 0px;               /* width of the entire scrollbar */
  }
  
  .box::-webkit-scrollbar-track {
    background: #2C73D2;   /* color of the tracking area */
    border-radius: 0px 20px 20px 0px;
  }
  
  .box::-webkit-scrollbar-thumb {
    background-color: #26A69A;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px #2C73D2;  /* creates padding around scroll thumb */
  }

  .btn.editar {
    background-color: #007bff;
    color: white;
}

.btn.deletar {
    background-color: #dc3545;
    color: white;
}
