/*classe ( . ) */
/*ID     ( # ) */

/*h1{            seletor de TAG
    color:blue   
}*/ 

*{
    margin: 0px;
    padding: 0px;
}

.cor-azul{
    color: blue;
    background-color:aquamarine;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.quadrado-verde{
    background-color: green;              /*cor do fundo*/
    color:white;                          /*dor do texto*/
    height: 150px;                          /*altura do elemento*/
    width: 150px;                           /*largura do elemento*/
    margin: 10px 0px 10px 0px;              /*distanciamento entre todos os objetos*/   
    padding: 10px 0px 0px 0px;
}
.quadrado-roxo{
    background-color: purple;             /*cor do fundo*/
    color:white;                          /*dor do texto*/
    height: 150px;                          /*altura do elemento*/
    width: 150px;                           /*largura do elemento*/
}

.alinhamento{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}